ul { 
    display: inline-block;
     text-align: left; 
    }

ol { 
    display: inline-block;
    text-align: left; 
    }
.footer{
    font-size: 30px;
    text-align: center;
    margin-left:30rem;
    color: rgb(116, 110, 29);
}